<div class="row">
    <h1>{{title}}</h1>
    <p><strong>Filtrar por:</strong></p>
</div><!-- /.row -->
<div class="row well conteudoTopo">
    <form class="form-inline">
        <div class="col-lg-3">
            <div class="input-group">
            <span class="input-group-addon">Nome</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="filtro.nome">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
            <span class="input-group-addon">Endere&ccedil;o</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="filtro.endereco">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
            <span class="input-group-addon">Data</span>
            <input type="text" class="form-control" placeholder="" aria-describedby="basic-addon1" ng-model="filtro.data">
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <select ng-model="filtro.operacao" class="form-control">
                    <option value="">Opera&ccedil;&atilde;o</option>
                    <option value="Acessou">Acessou</option>
                    <option value="Emitiu">Emitiu</option>
                </select>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <select ng-model="filtro.situacao" class="form-control">
                    <option value="">Situa&ccedil;&atilde;o</option>
                    <option value="Atraso">Atraso</option>
                    <option value="Em dia">Em dia</option>
                </select>
            </div>
        </div>
    </form>
</div>
    
<div class="row">
    <table class="table table-striped table-hover table-condensed">
        <thead>
            <th>Nome</th>
            <th>Endereço</th>
            <th class="text-center">&Uacute;ltimo acesso</th>
            <th class="text-center">Opera&ccedil;&atilde;o</th>
            <th class="text-center">Situa&ccedil;&atilde;o</th>
        </thead>
        <tbody>
            <tr ng-repeat="cidadao in cidadaos | orderBy:'data' | filter:filtro">
                <td>{{cidadao.nome}}</td>
                <td>{{cidadao.endereco}} - {{cidadao.cep}}</td>
                <td class="text-center">{{cidadao.data}}</td>
                <td class="text-center">{{cidadao.operacao}}</td>
                <td class="text-center">{{cidadao.situacao}}</td>
            </tr>
        </tbody>
    </table>
</div>